*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f9fcf8;
    font-family: "epilogue", "Noto Sans", sans-serif;
}


.heada{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 2%;
}

.header-contaner > h2{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    justify-content: flex-end;
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

nav a:hover{
    background-color: #4df34d;
}
nav svg{
    fill: #333;
}
#sidebar-active{
    display: none;
}

.open-sidebar-btn, .close-sidebar-btn{
    display: none;
}

@media(max-width: 500px){
    .links-container{
     
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;
        background-color: white;
        transition: 0.75s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-btn, .close-sidebar-btn{
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
}



.input-form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ipt-search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 28px;
    background: #ebf3e7;
    transition: background 0.25s;
}

.ipt-search:focus-within{
    background: #f1f1f1;
}

input{
    font-size: 16px;
    font-family: sans-serif;
    color: #333;
    margin-left: 14px;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 10px;
    width: 300px;
    
}

input::placeholder{
    color: rgba(0, 0, 0, 0.25);
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-image{
    max-width: 1200px;
    width: 90%;
    border-radius: 20px;
    margin-top: 2%;
    padding-top: 22%;
    background-image: url("pexels-olia-danilevich-5418659.jpg");
    background-size: cover;
    background-position: center;
}
h1{
    color: #ebf3e7;
    padding: 2%;
}

.bg-image>h3{
    padding-bottom: 5%;
    padding: 2%;
    color: #ebf3e7;
}



.product > h2{
    padding: 2%;
    margin-left: 3%;
    font-family: 'epiogue' 'Noto sans' sans-serif;
}

.product-lettuce{
   width: 100;
   height: 100;
   border-radius: 20px;
   margin-left: 3%;
   background-color: #ebf3e7;
   display: grid;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

 h3{
   color: black;
   padding-top: 2px;
   padding-bottom: 2px;
   cursor: pointer;
}


p{
    color: rgb(97, 250, 97);
    margin-left: 2%;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}
img{
    border-radius: 20px;
}

.products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2px;
    column-gap: 2px;
    cursor: pointer;   
}

/* SIBLING FADE: fade out siblings around a hovered item */

.products { visibility: hidden; }
/* Prevents :hover from triggering in the gaps between items */

.products > * { visibility: visible; }
/* Brings the child items back in, even though the parent is `hidden` */

.products > * { transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms; }
/* Makes the fades smooth with a slight delay to prevent jumps as the mouse moves between items */

.products:hover > * { opacity: 0.4; transform: scale(0.9); }
/* Fade out all items when the parent is hovered */

.products > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms; }
/* Fade in the currently hovered item */







/* Presentational Styles */



.products > * {
  background: white;
  padding: 1em;
  flex: auto;
  margin: 0.3em;
  text-align: center;
  color: #f05555;
  font-size: 1.5em;
  text-decoration: none;
}
